mailgun:
  api_key: "API_KEY_HERE" # LEAVE BLANK IF USING GITHUB ACTIONS / ENV SECRETS
  domain: "mg.yourdomain.com"
  from: "watchmain@yourdomain.com"
  to:
    - "your@email.com"


whois:
  api_key: "API_KEY_HERE" # LEAVE BLANK IF USING GITHUB ACTIONS / ENV SECRETS


domains:
  - "reallygooddomain.com"
  - "prettygooddomain.com"
