mailgun:
  api_key: "" # LEAVE BLANK IF USING GITHUB ACTIONS / ENV SECRETS
  domain: ""
  from: ""


whois:
  api_key: ""  # LEAVE BLANK IF USING GITHUB ACTIONS / ENV SECRETS


domains:
  - "google.com"
